In [1]:
from helper_functions import get_weather_data, get_aqi_data
import pandas as pd

In [2]:
locations = {
    'NYC': (40.7562, -73.9826),
    'CHI': (41.8758, -87.6328)
}

data_dict = {}

for state, (lat,lon) in locations.items():
    weather_df = get_weather_data(state,lat,lon)
    aqi_df = get_aqi_data(state,lat,lon)

    merged = pd.merge(weather_df,aqi_df,on=['date','state'],suffixes=('_weather','_aqi'))
    merged.to_csv(f"data/{state}_data_raw.csv", index=False)
    data_dict[state] = merged

In [16]:
nyc_df = data_dict["NYC"]
chi_df = data_dict["CHI"]

In [59]:
ridership_df = pd.read_csv('data/Combined_Daily_Transit_Ridership.csv', dtype={2: str})

In [61]:
# Convert to DT, remove redundant column, rename column to match other DF's
ridership_df['date'] = pd.to_datetime(ridership_df['standardized_date'])
ridership_df.drop(columns=['standardized_date'], inplace=True)
ridership_df.rename(columns={'city': 'state'}, inplace=True)

In [69]:
ridership_df.head()

        date unit_id  daily_ridership state mode
0 2023-01-01      B1             4897   NYC  bus
1 2023-01-01    B100              510   NYC  bus
2 2023-01-01    B101                0   NYC  bus
3 2023-01-01    B103             2431   NYC  bus
4 2023-01-01     B11             2763   NYC  bus

In [54]:
nyc_df.head()

,date,state,rain_sum,rain_max,snowfall_sum,snowfall_max,relative_humidity_2m_min,relative_humidity_2m_max,relative_humidity_2m_mean,apparent_temperature_min,...,us_aqi_carbon_monoxide_mean,us_aqi_ozone_min,us_aqi_ozone_max,us_aqi_ozone_mean,us_aqi_sulphur_dioxide_min,us_aqi_sulphur_dioxide_max,us_aqi_sulphur_dioxide_mean,us_aqi_min_lag,us_aqi_max_lag,us_aqi_mean_lag
0,2023-01-01,NYC,0.086614,0.043307,0.0,0.0,45.0,99.0,77.833336,42.630226,...,4.534571,0.000000,14.494434,6.805136,0.708833,2.562705,1.506271,2.0,3.0,2.0
1,2023-01-02,NYC,0.000000,0.000000,0.0,0.0,49.0,84.0,67.666664,37.679680,...,5.878774,0.695733,11.363637,4.104341,3.271538,10.250818,4.933434,1.0,2.0,2.0
2,2023-01-03,NYC,0.015748,0.015748,0.0,0.0,70.0,99.0,89.625000,43.230396,...,8.457327,0.000000,4.058442,0.763374,2.208288,9.160306,6.134134,1.0,2.0,2.0
3,2023-01-04,NYC,0.000000,0.000000,0.0,0.0,77.0,98.0,90.125000,48.938805,...,3.814010,2.029221,14.610389,7.010475,1.472192,6.025082,2.813750,2.0,3.0,3.0
4,2023-01-05,NYC,0.000000,0.000000,0.0,0.0,89.0,100.0,94.958336,41.419788,...,7.265248,0.000000,3.884508,1.335904,2.017448,6.406762,3.824746,2.0,3.0,2.0

In [97]:
# Merge all 3 and add binary weekend feature
nyc_chi_combined = pd.concat([nyc_df, chi_df], axis=0)
combined_df = ridership_df.merge(nyc_chi_combined, on=['date', 'state'], how='left')
combined_df['is_weekend'] = (combined_df['date'].dt.weekday >= 5).astype(int)

In [99]:
combined_df.head()

,date,unit_id,daily_ridership,state,mode,rain_sum,rain_max,snowfall_sum,snowfall_max,relative_humidity_2m_min,...,us_aqi_ozone_min,us_aqi_ozone_max,us_aqi_ozone_mean,us_aqi_sulphur_dioxide_min,us_aqi_sulphur_dioxide_max,us_aqi_sulphur_dioxide_mean,us_aqi_min_lag,us_aqi_max_lag,us_aqi_mean_lag,is_weekend
0,2023-01-01,B1,4897,NYC,bus,0.086614,0.043307,0.0,0.0,45.0,...,0.0,14.494434,6.805136,0.708833,2.562705,1.506271,2.0,3.0,2.0,1
1,2023-01-01,B100,510,NYC,bus,0.086614,0.043307,0.0,0.0,45.0,...,0.0,14.494434,6.805136,0.708833,2.562705,1.506271,2.0,3.0,2.0,1
2,2023-01-01,B101,0,NYC,bus,0.086614,0.043307,0.0,0.0,45.0,...,0.0,14.494434,6.805136,0.708833,2.562705,1.506271,2.0,3.0,2.0,1
3,2023-01-01,B103,2431,NYC,bus,0.086614,0.043307,0.0,0.0,45.0,...,0.0,14.494434,6.805136,0.708833,2.562705,1.506271,2.0,3.0,2.0,1
4,2023-01-01,B11,2763,NYC,bus,0.086614,0.043307,0.0,0.0,45.0,...,0.0,14.494434,6.805136,0.708833,2.562705,1.506271,2.0,3.0,2.0,1

In [105]:
combined_df.to_csv(f"data/final.csv", index=False)

In [107]:
combined_df.columns.tolist()

['date',
 'unit_id',
 'daily_ridership',
 'state',
 'mode',
 'rain_sum',
 'rain_max',
 'snowfall_sum',
 'snowfall_max',
 'relative_humidity_2m_min',
 'relative_humidity_2m_max',
 'relative_humidity_2m_mean',
 'apparent_temperature_min',
 'apparent_temperature_max',
 'wind_speed_10m_min',
 'wind_speed_10m_max',
 'wind_speed_10m_mean',
 'wind_direction_10m_min',
 'wind_direction_10m_max',
 'wind_direction_10m_mean',
 'apparent_temperature_min_lag',
 'apparent_temperature_max_lag',
 'us_aqi_pm2_5_min',
 'us_aqi_pm2_5_max',
 'us_aqi_pm2_5_mean',
 'us_aqi_min',
 'us_aqi_max',
 'us_aqi_mean',
 'us_aqi_pm10_min',
 'us_aqi_pm10_max',
 'us_aqi_pm10_mean',
 'us_aqi_nitrogen_dioxide_min',
 'us_aqi_nitrogen_dioxide_max',
 'us_aqi_nitrogen_dioxide_mean',
 'us_aqi_carbon_monoxide_min',
 'us_aqi_carbon_monoxide_max',
 'us_aqi_carbon_monoxide_mean',
 'us_aqi_ozone_min',
 'us_aqi_ozone_max',
 'us_aqi_ozone_mean',
 'us_aqi_sulphur_dioxide_min',
 'us_aqi_sulphur_dioxide_max',
 'us_aqi_sulphur_dioxide_mean',
 'us_aqi_min_lag',
 'us_aqi_max_lag',
 'us_aqi_mean_lag',
 'is_weekend']